.box-pai{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
}

.box {
  display: block;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
}

.box-child-1 {
  height: 11%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box-child-2 {
  height: 5%;
}

.box-child-3 {
  height: 25%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-child-4 {
  height: 5%;
}

.box-child-5 {
  height: 25%;
  margin-top: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-child-6 {
  height: 11%;
}

.box-sub-1 {
  height: 98%;
  width: 78%;
  border: solid 1px #000000;
}

.box-sub-2 {
  height: 98%;
  width: 18%;
  border: solid 1px #000000;
}

.box-sub-3 {
  height: 95%;
  width: 60%;
  border: solid 1px #000000;
}

.box-sub-4 {
  height: 95%;
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.box-sub-5 {
  height: 45%;
  width: 45%;
  border: solid 1px #000000;
}

.box-sub-6 {
  height: 45%;
  width: 45%;
  border: solid 1px #000000;
}

.box-sub-7 {
  height: 45%;
  width: 45%;
  border: solid 1px #000000;
}

.box-sub-8 {
  height: 45%;
  width: 45%;
  border: solid 1px #000000;
}

.box-sub-9 {
  height: 95%;
  width: 60%;
  border: solid 1px #000000;
}

.box-sub-10 {
  height: 95%;
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.box-sub-11 {
  height: 45%;
  width: 45%;
  border: solid 1px #000000;
}
