.box-pai{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #000000;
}

.box {
  display: block;
  border: 1px solid #000000;
  text-align: center;
}

.box-child-1 {
  width: 64%;
  height: 58%;
}

.box-child-2 {
  width: 31%;
  height: 58%;
}

.box-child-3 {
  width: 31%;
  height: 21%;
}

.box-child-4 {
  width: 31%;
  height: 21%;
}

.box-child-5 {
  width: 31%;
  height: 21%;
}

.box-child-6 {
  width: 98%;
  height: 10%;
}
