.box-pai{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
}

.box {
  display: block;
  width: 100%;
  margin: 20px;
  padding: 10px;
  max-width: 1100px;
  border: 1px solid #000000;
}

.box-child-1 {
  flex-basis: 10%;
  background-color: #f43e3e;
}

.box-child-2 {
  flex-basis: 15%;
  background-color: #f43edf;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box-child-3 {
  flex-basis: 35%;
  background-color: #e8f43e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-child-4 {
  flex-basis: 25%;
  background-color: #bc23fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-sub-1 {
  width: 19%;
  height: 91%;
  background-color: #49fb3a;
  border: 1px solid #000000;
}

.box-sub-2 {
  width: 77%;
  height: 91%;
  background-color: #1ce9f4;
  border: 1px solid #000000;
}

.box-sub-3 {
  width: 20%;
  height: 90%;
  background-color: #f2872f;
  border: 1px solid #000000;
}

.box-sub-4 {
  width: 20%;
  height: 90%;
  background-color: #f2872f;
  border: 1px solid #000000;
}

.box-sub-5 {
  width: 20%;
  height: 90%;
  background-color: #f2872f;
  border: 1px solid #000000;
}

.box-sub-6 {
  width: 20%;
  height: 90%;
  background-color: #f2872f;
  border: 1px solid #000000;
}

.box-sub-7 {
  width: 50%;
  height: 90%;
  border-right: 1.1px solid #000000;
  border-left: 1.1px solid #000000;
}
