.box-pai{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.box{
  display:block;
  width: 30%;
  height: 30%;
  margin: 20px;
  padding: 10px;
  max-width: 1100px;
  border: 1px solid;
}

.box-1{
  display:block;
  width: 30%;
  height: 30%;
  margin: 20px;
  padding: 10px;
  max-width: 1100px;
  border: 1px solid;
}
/* filhos de box child 1*/
.box-child-1{
  flex-basis: 60%;
  background-color: #7dfc31;
}

.box-child-2{
  background-color: #3eb143;
}
