@charset "UTF-8";

.box{
  display: block;
  width: 95%;
  max-width: 1100px;
  margin: 20px;
  padding: 10px;
  border: 1px solid black
}

/*BLOCO 1*/
.q1{

    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

/*BLOCO 2*/

.q2{

  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



.c1{

  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.c2{
  flex: 3;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  border: 1px solid black;
  margin: 20px;


}

.q3{
  display: block;
  width: 97%;
  height: 100px;
  margin: 17.5px;
  padding: 10px;
  max-width: 1100px
  border: 1px solid #ff0000
}


.q4{
  display: block;
  width: 97%;
  height: 100px;
  margin: 17.5px;
  padding: 10px;
  max-width: 1100px
  border: 1px solid #ff0000
}
